<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous"/>
        <title>
        Tehnicka Skola Trstenik</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Vebsajt za integrisano zvono tehniske skole trstenik, za promenu vremena zvonjenja pretisnite na link ispod.">
        <style>
        </style>
    </head>
    <body>
        <h1>Tehnicka Skola Trstenik</h1>
        <p>Vebsajt za integrisano zvono tehniske skole trstenik, za promenu vremena zvonjenja pretisnite na taster ispod.</p>
        <a href="{{ url_for('timechange') }}" class='btn btn-primary'>Promena vremena zvona</a>
    </body>
</html>
