<!DOCTYPE html>
    <head>
        <title>Promena Vremena Zvonjenja</title>
    </head>
    <body>
        <form method="post">

            <label for="key">Kljuc</label>
            <br>
            <input type="text" name="key"
                placeholder="Kljuc"
                value="{{ request.form['key'] }}"
                required></input>
            
            <hr>
            <!-- FIRST SHIFT -->

            <!-- 1 -->
            <br>
            <label for="1">(1.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="1"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['1'] }}"
                required></input>

            <br>
            <label for="2">(1.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="2"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['2'] }}"
                required></input>

            <!-- 2 -->
            <br>
            <label for="3">(2.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="3"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['3'] }}"
                required></input>
            
            <br>
            <label for="4">(2.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="4"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['4'] }}"
                required></input>
            
            <!-- 3 -->
            <br>
            <label for="5">(3.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="5"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['5'] }}"
                required></input>

            <br>
            <label for="6">(3.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="6"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['6'] }}"
                required></input>

            <!-- 4 -->
            <br>
            <label for="7">(4.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="7"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['7'] }}"
                required></input>
            
            <br>
            <label for="8">(4.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="8"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['8'] }}"
                required></input>
            <!-- 5 -->
            <br>
            <label for="9">(5.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="9"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['9'] }}"
                required></input>
            
            <br>
            <label for="10">(5.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="10"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['10'] }}"
                required></input>
            <!-- 6 -->
            <br>
            <label for="11">(6.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="11"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['11'] }}"
                required></input>

            <br>
            <label for="12">(6.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="12"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['12'] }}"
                required></input>
            <!-- 7 -->
            <br>
            <label for="13">(7.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="13"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['13'] }}"
                required></input>
            
            <br>
            <label for="14">(7.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="14"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['14'] }}"
                required></input>
            <hr>
            <!-- 1 -->
            <br>
            <label for="15">(1.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="15"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['15'] }}"
                required></input>

            <br>
            <label for="16">(1.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="16"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['16'] }}"
                required></input>
            <!-- 2 -->
            <br>
            <label for="17">(2.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="17"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['17'] }}"
                required></input>

            <br>
            <label for="18">(2.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="18"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['18'] }}"
                required></input>
            <!-- 3 -->
            <br>
            <label for="19">(3.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="19"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['19'] }}"
                required></input>

            <br>
            <label for="20">(3.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="20"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['20'] }}"
                required></input>
            <!-- 4 -->
            <br>
            <label for="21">(4.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="21"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['21'] }}"
                required></input>
            
            <br>
            <label for="22">(4.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="22"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['22'] }}"
                required></input>
            <!-- 5 -->
            <br>
            <label for="23">(5.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="23"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['23'] }}"
                required></input>

            <br>
            <label for="24">(5.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="24"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['24'] }}"
                required></input>
            <!-- 6 -->
            <br>
            <label for="25">(6.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="25"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['25'] }}"
                required></input>

            <br>
            <label for="26">(6.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="26"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['26'] }}"
                required></input>
            <!-- 7 -->
            <br>
            <label for="27">(7.) Cas [POCETAK]</label>
            <br>
            <input type="text" name="27"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['27'] }}"
                required></input>

            <br>
            <label for="28">(7.) Cas [KRAJ]</label>
            <br>
            <input type="text" name="28"
                placeholder="00:00"
                pattern="[0-9][0-9]+:[0-9][0-9]"
                value="{{ request.form['28'] }}"
                required></input>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>