[Unit]
Description=CoffeeBell SysD Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/lex/coffeebell/
Environment="PATH=/home/lex/coffeebell/coffeebell/bin"
ExecStart=/home/lex/coffeebell/coffeebell/bin/gunicorn --config gunicorn.py wsgi:app

[Install]
WantedBy=multi-user.target